@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
